// news title
.search-output-title,
.covid-news-title {
    margin: 1rem 0 1rem 5rem;
    text-transform: capitalize;
    font-size: 2rem;
}

// news Scrolling news section
// search section and
//  covid-section
.user-input-search-section, 
.covid-cases-news-section{
    display: flex;
    align-items: center;

    .search-left-btn,
    .search-right-btn,
    .covid-left-btn,
    .covid-right-btn{
        font-size: 2rem;
        color: $colorBlue;
        margin: 0 1rem;
        cursor: pointer;
        &:hover{
            color: $colorLightBlue;
        }
    }

    .user-search-news-box, 
    .covid-news-box {
        overflow-x: hidden;
        ul{
            display: flex;
            
            li{
                height: 500px;
                border:  2px solid $colorBlue;
                flex: 0 0 25%;
                overflow-y: scroll;
                padding: 1rem;
                margin: 0 1rem;
                &:hover{
                    border:  4px solid $colorBlue;
                }

                h3{
                    font-size: 1.2rem;
                    color: $colorBlue;
                    margin-bottom: 1rem;
                }
                p {
                    font-size: 1rem;
                    letter-spacing: 1px;
                    line-height: 1.2;
                    font-family: $fontRegular400;
                    margin-top: 1rem;
                }
                a{
                    font-size: 1rem;
                    text-transform: uppercase;
                    border: 2px solid white;
                    font-family: $fontRegular400;
                    padding: 0.5rem 0.75rem;
                    text-decoration: none;    
                    color: $whiteColor;
                    background-color: $colorBlue;
                    letter-spacing: 2px;
                    font-weight: 500px;
                    &:hover{      
                        color: $colorLightBlue;
                        background-color: $whiteColor;
                        border: 2px solid $colorLightBlue;
                    }
                }
                img{
                    width: 100%;
                }
            }
        }
    }
}

// covid cases data
.covid-cases{
    width: 50%;
    margin: 0 auto;

    h3{
        margin: 1rem 0 1rem 5rem;
        text-transform: capitalize;
        font-size: 2rem;
        text-align: center;
    }
}
.covid-data{
    display: flex;
    margin-left: 1rem;
    padding: 1rem;
    border:  2px solid $colorBlue;
    margin-bottom: 35px;
    &:hover{
        border:  4px solid $colorBlue;
    }
    .canada-flag-img{
        width: 100%;
        img{
            width: 100%;
        }
    }
}
.covid-cases-data{
    width: 100%;
    margin-left: 1rem;
    h4{
        color: $colorBlue;
        text-transform: uppercase;
    }
    ul li {
     line-height: 1.5;
     font-weight: 700;
    }
    ul li span {
        font-weight: 400;
    }
}

// footer section styling
footer{
    background: $colorLightBlue;
    padding: 0.5rem 0;
    margin-top: 4rem;
    p{
        text-align: center;
        color: $colorLightPastel;
        margin: 0;
        a{
            color: $colorLightPastel;
            &:hover{
                color: $colorLightPastel;
            }
        }
    }
}

// hide class for invalid msg 
.hide{
    display: none;
    color: $colorLightBlue;
    text-transform: capitalize;
}
