// font family style are here
$fontRegular400: 'Lato', sans-serif;
$fontBold700: 'Newsreader', serif;


//===============COLOR PALET ================
$colorLightPastel: #F4F5DB;
$blackColor: #000;
$colorPastel: #f3f4d9;
$colorLightBlue: #487E95;
$colorBlue: #23689B;
