// font family style are here
$fontRegular400:  'Abril Fatface', cursive;
$fontBold700: 'Newsreader', serif;


//===============COLOR PALET ================
$colorLightPastel: #F4F5DB;
$blackColor: #000;
$colorPastel: #D9DAB0;
$colorLightBlue: #487E95;
$colorBlue: #23689B;
