html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  margin: 0;
  padding: 0;
  font-size: 125%;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  width: 90%;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: "Newsreader", serif;
  color: #000;
  letter-spacing: 2px;
  padding: 0;
  margin: 0;
}

p {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 1rem;
}

header {
  background-color: #487E95;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
  width: 100%;
}
.navbar .news-logo h3 {
  font-size: 2rem;
  font-family: "Newsreader", serif;
  color: #fff;
  letter-spacing: 2px;
}
.navbar .navbar-menu #home-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar .navbar-menu #home-form input[type=text] {
  border: 2px solid #487E95;
  font-size: 1.3rem;
  color: black;
  padding: 0.5rem 0.75rem;
}
.navbar .navbar-menu #home-form input[type=submit] {
  border: 2px solid white;
  color: white;
  letter-spacing: 2px;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  font-family: "Lato", sans-serif;
  border-radius: 2px;
  background-color: transparent;
  margin-left: 11px;
  margin-right: 1rem;
  text-transform: uppercase;
}
.navbar .navbar-menu #home-form input[type=submit]:hover {
  border: 2px solid #fff;
  background-color: #fff;
  color: #487E95;
}

.search-output-title,
.covid-news-title {
  margin: 1rem 0 1rem 5rem;
  text-transform: capitalize;
  font-size: 2rem;
}

.user-input-search-section,
.covid-cases-news-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user-input-search-section .search-left-btn,
.user-input-search-section .search-right-btn,
.user-input-search-section .covid-left-btn,
.user-input-search-section .covid-right-btn,
.covid-cases-news-section .search-left-btn,
.covid-cases-news-section .search-right-btn,
.covid-cases-news-section .covid-left-btn,
.covid-cases-news-section .covid-right-btn {
  font-size: 2rem;
  color: #23689B;
  margin: 0 1rem;
  cursor: pointer;
}
.user-input-search-section .search-left-btn:hover,
.user-input-search-section .search-right-btn:hover,
.user-input-search-section .covid-left-btn:hover,
.user-input-search-section .covid-right-btn:hover,
.covid-cases-news-section .search-left-btn:hover,
.covid-cases-news-section .search-right-btn:hover,
.covid-cases-news-section .covid-left-btn:hover,
.covid-cases-news-section .covid-right-btn:hover {
  color: #487E95;
}
.user-input-search-section .user-search-news-box,
.user-input-search-section .covid-news-box,
.covid-cases-news-section .user-search-news-box,
.covid-cases-news-section .covid-news-box {
  overflow-x: hidden;
}
.user-input-search-section .user-search-news-box ul,
.user-input-search-section .covid-news-box ul,
.covid-cases-news-section .user-search-news-box ul,
.covid-cases-news-section .covid-news-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.user-input-search-section .user-search-news-box ul li,
.user-input-search-section .covid-news-box ul li,
.covid-cases-news-section .user-search-news-box ul li,
.covid-cases-news-section .covid-news-box ul li {
  height: 500px;
  border: 2px solid #23689B;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  overflow-y: scroll;
  padding: 1rem;
  margin: 0 1rem;
}
.user-input-search-section .user-search-news-box ul li:hover,
.user-input-search-section .covid-news-box ul li:hover,
.covid-cases-news-section .user-search-news-box ul li:hover,
.covid-cases-news-section .covid-news-box ul li:hover {
  border: 4px solid #23689B;
}
.user-input-search-section .user-search-news-box ul li h3,
.user-input-search-section .covid-news-box ul li h3,
.covid-cases-news-section .user-search-news-box ul li h3,
.covid-cases-news-section .covid-news-box ul li h3 {
  font-size: 1.2rem;
  color: #23689B;
  margin-bottom: 1rem;
}
.user-input-search-section .user-search-news-box ul li p,
.user-input-search-section .covid-news-box ul li p,
.covid-cases-news-section .user-search-news-box ul li p,
.covid-cases-news-section .covid-news-box ul li p {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.2;
  font-family: "Lato", sans-serif;
  margin-top: 1rem;
}
.user-input-search-section .user-search-news-box ul li a,
.user-input-search-section .covid-news-box ul li a,
.covid-cases-news-section .user-search-news-box ul li a,
.covid-cases-news-section .covid-news-box ul li a {
  font-size: 1rem;
  text-transform: uppercase;
  border: 2px solid white;
  font-family: "Lato", sans-serif;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  color: #fff;
  background-color: #23689B;
  letter-spacing: 2px;
  font-weight: 500px;
}
.user-input-search-section .user-search-news-box ul li a:hover,
.user-input-search-section .covid-news-box ul li a:hover,
.covid-cases-news-section .user-search-news-box ul li a:hover,
.covid-cases-news-section .covid-news-box ul li a:hover {
  color: #487E95;
  background-color: #fff;
  border: 2px solid #487E95;
}
.user-input-search-section .user-search-news-box ul li img,
.user-input-search-section .covid-news-box ul li img,
.covid-cases-news-section .user-search-news-box ul li img,
.covid-cases-news-section .covid-news-box ul li img {
  width: 100%;
}

.covid-cases {
  width: 50%;
  margin: 0 auto;
}
.covid-cases h3 {
  margin: 1rem 0 1rem 5rem;
  text-transform: capitalize;
  font-size: 2rem;
  text-align: center;
}

.covid-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1rem;
  padding: 1rem;
  border: 2px solid #23689B;
  margin-bottom: 35px;
}
.covid-data:hover {
  border: 4px solid #23689B;
}
.covid-data .canada-flag-img {
  width: 100%;
}
.covid-data .canada-flag-img img {
  width: 100%;
}

.covid-cases-data {
  width: 100%;
  margin-left: 1rem;
}
.covid-cases-data h4 {
  color: #23689B;
  text-transform: uppercase;
}
.covid-cases-data ul li {
  line-height: 1.5;
  font-weight: 700;
}
.covid-cases-data ul li span {
  font-weight: 400;
}

footer {
  background: #487E95;
  padding: 0.5rem 0;
  margin-top: 4rem;
}
footer p {
  text-align: center;
  color: #F4F5DB;
  margin: 0;
}
footer p a {
  color: #F4F5DB;
}
footer p a:hover {
  color: #F4F5DB;
}

.hide {
  display: none;
}

#invalid-search-msg {
  color: #487E95;
  text-transform: capitalize;
  text-align: center;
}

@media (max-width: 1100px) {
  .user-input-search-section .user-search-news-box ul li,
.covid-cases-news-section .covid-news-box ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
  }

  .covid-cases {
    width: 70%;
  }
}
@media (max-width: 810px) {
  .user-input-search-section .user-search-news-box ul li, .covid-cases-news-section .covid-news-box ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }

  .covid-cases {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .wrapper {
    width: 100%;
  }

  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar .navbar-menu #home-form {
    margin-top: 0.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar .navbar-menu #home-form input[type=submit] {
    margin-top: 0.5rem;
  }

  .search-output-title,
.covid-news-title,
.covid-cases h3 {
    margin-left: 0;
    text-align: center;
  }

  .user-input-search-section .user-search-news-box, .covid-cases-news-section .covid-news-box {
    overflow-x: scroll;
  }
  .user-input-search-section .user-search-news-box ul li, .covid-cases-news-section .covid-news-box ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
  }

  .covid-cases {
    width: 90%;
  }

  .covid-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}